### Required configuration

# Hosts
PUBLIC_API_HOST=
PUBLIC_APP_HOST=
PUBLIC_SECURE=
PUBLIC_COOKIE_DOMAIN=

# Secrets
SECRET=

# Database
POSTGRES_PORT=5432
DATABASE_URL=postgresql://andesine:andesine@localhost:5432/andesine
REDIS_URL=

# Email
SENDER_EMAIL=
SENDER_NAME=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

### External services configuration

# UserCheck (service checking for fake emails): `true` or [API key]
USER_CHECK=

# Resend (email service)
RESEND_API_KEY=

# SMTP (alternative email service)
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=
