---
import { Header, Footer, BaseHead, SVGDefs } from "#components/fragments";

import { PricingSection } from "#components/sections";

const image = "https://vrite.io/meta-image.png";
const title = "Vrite － developer content platform";
const description =
  "Open-Source, collaborative developer content platform for documentation, technical blogs, and more.";

export const prerender = true;
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-50 dark:bg-gray-800">
  <head>
    <BaseHead description={description} title={title} image={image} />
  </head>
  <body class="overflow-hidden overscroll-none">
    <SVGDefs />
    <Header client:idle />
    <main
      class="flex flex-col items-center justify-center p-4 pb-0 bg-gray-50 dark:bg-gray-800 bg-opacity-50 dark:bg-opacity-50 gap-24"
    >
      <PricingSection />
      <div></div>
      <Footer />
    </main>
  </body>
</html>
