---
import { Card, Icon } from "#components/primitives";
import { mdiInformationSlabCircleOutline } from "@mdi/js";
---

<Card class="flex items-center justify-start mx-0 my-4" color="contrast">
  <Icon path={mdiInformationSlabCircleOutline} class="w-6 h-6 mr-2 fill-[url(#gradient)]" />
  <div class="flex-1 not-prose"><slot /></div>
</Card>
