---
import { Section, SectionHeadline } from "#components/fragments";
import { CTAGrid } from "./cta-grid";
---

<Section>
  <SectionHeadline
    title="Get started"
    subtitle="Jump right in or check out the documentation to get started."
  />
  <div class="relative">
    <div class="grid-background -z-1 !h-[150%] !w-[150%] !-top-[25%] !-left-[25%]"></div>
    <CTAGrid client:visible />
  </div>
</Section>
