---
import { Section, SectionHeadline } from "#components/fragments";
import { FeaturesGrid } from "./features-grid";
---

<Section>
  <SectionHeadline
    title="Extend & customize"
    subtitle="Make Vrite your own with extensions and powerful customizations."
  />
  <div class="relative">
    <div class="grid-background -z-1 !h-[150%] !w-[180%] !-top-[40%] !-left-[40%]"></div>
    <FeaturesGrid client:visible />
  </div>
</Section>
