---
import { Observed } from "./observed";
import { mdiBookOpenBlankVariant, mdiLoginVariant } from "@mdi/js";
import dashboardImageDark from "#assets/images/dark/dashboard.png";
import dashboardImageLight from "#assets/images/light/dashboard.png";
import { Button, IconButton, Image } from "#components/primitives";
---

<Observed
  client:load
  class="mt-4 transition-all duration-500 ease-out transform md:mt-0"
  outOfViewClass="invisible translate-y-full"
  immediate
>
  <Observed
    client:load
    class="delay-100 transition-all hero-image duration-1000 ease-out max-h-full -z-10 md:absolute right-0 -top-16 shadow-2xl rounded-2xl border-2 border-gray-200 dark:border-gray-700 gradient-image-mask overflow-hidden"
    outOfViewClass="invisible hero-image-initial"
  >
    <Image
      class="max-h-full -z-10 md:absolute right-0 hero-image -top-16 max-w-[calc(100vw-4rem)] shadow-2xl rounded-2xl border-2 border-gray-200 dark:border-gray-700 gradient-image-mask overflow-hidden"
      class="h-full w-full"
      srcDark={dashboardImageDark.src}
      srcLight={dashboardImageLight.src}
      alt="Vrite Kanban dashboard"
    />
  </Observed>
  <div
    class="flex justify-center items-center flex-col bg-opacity-40 bg-gray-100 dark:bg-gray-800 dark:bg-opacity-40 shadow-2xl shadow-gray-100 dark:shadow-gray-800"
  >
    <div>
      <Button badge text="soft" class="font-semibold text-center">Public Beta</Button>
    </div>
    <h1 class="text-7xl md:text-9xl text-center !font-bold" style={{ perspective: "600px" }}>
      Developer
      <br />
      <span class="bg-clip-text text-transparent bg-gradient-to-tr">Content Platform</span>
    </h1>
    <p class="max-w-2xl mt-4 text-2xl md:text-3xl text-center">
      Open-source, collaborative space to create, manage and deploy product documentation, technical
      blogs, and knowledge bases.
    </p>
    <div class="items-center justify-center hidden w-full mt-4 gap-4 md:flex">
      <IconButton
        color="primary"
        class="flex items-center justify-center m-0 whitespace-nowrap"
        size="large"
        link="https://app.vrite.io"
        path={mdiLoginVariant}
        label="Get started"
        target="_blank"
      />
      <IconButton
        class="flex items-center justify-center m-0 whitespace-nowrap"
        link="https://docs.vrite.io"
        text="soft"
        size="large"
        path={mdiBookOpenBlankVariant}
        label="Documentation"
        target="_blank"
      />
    </div>
  </div>
</Observed>
