/* Stack item */
.stackItem {
  --notification-enter-translation: translateY(-1.5rem);
  transform-origin: top center;
}

@screen md {
  .stackItem {
    --notification-enter-translation: translateX(1.5rem);
    transform-origin: bottom center;
  }
}
